
<div class="hero-filter">
  <div class="container">
    <h1>Project Management</h1>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></p>

  </div>
  <div class="hero">  
  </div>
</div>
<footer>
  <div class="container">
    <p>&copy; Project Management 2019</p>
  </div>
</footer>
